<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182760966255-kr86o7c705g9340om0at6ddpvh8fkatm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182760966255-kr86o7c705g9340om0at6ddpvh8fkatm</string>
	<key>API_KEY</key>
	<string>AIzaSyBRHqSyIzhD8RbrU6q9El19bslPtaUcOk8</string>
	<key>GCM_SENDER_ID</key>
	<string>182760966255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.dhanush.whatsUp</string>
	<key>PROJECT_ID</key>
	<string>whatsup-b77fa</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsup-b77fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182760966255:ios:53bf380c28e1495ce5a59a</string>
</dict>
</plist>